@model MilitaryShop.Core.Models.Product

@{
    ViewBag.Title = Model.Name + "Detalis";
}

<h2>@Html.DisplayFor(Model => Model.Name)</h2>

<div>
    <div class="col=md-2">
        <img class="img-responsive" src="~/Content/ProductImages/@Model.Image" />
    </div>
    <hr />
    <div class="col=md-10">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @string.Format("{0:c}", Model.Price)
                
            </dd>

        </dl>
    </div>
    <div class="container">
    <a href="@Url.Action("AddToBasket", "Basket", new { Id = Model.Id })" class="btn btn-success">Add to basket</a>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
    </div>
</div>
<div class="col-md-12 clearfix" />
